* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f5f5;
}

#game {
  position: relative;
  width: 800px;
  height: 200px;
  background: white;
  border: 2px solid black;
  overflow: hidden;
  background: linear-gradient(#cceeff 70%, #7cfc00 70%);
}

#player {
  position: absolute;
  bottom: 0;
  left: 50px;
  width: 48px;
  height: 48px;
  background-image: url("https://i.imgur.com/6X12UGf.png");
  background-size: cover;
}


#obstacle {
  position: absolute;
  bottom: 0;
  right: -40px;
  width: 40px;
  height: 60px;
  background-image: url("https://i.imgur.com/KY6aF0F.png");
  background-size: cover;
}


#score {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 16px;
}

#game-over {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.7);
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
}
