* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f5f5;
}

#game {
  position: relative;
  width: 800px;
  height: 200px;
  background: white;
  border: 2px solid black;
  overflow: hidden;
  background: linear-gradient(#cceeff 70%, #7cfc00 70%);
}

#player {
  position: absolute;
  bottom: 0;
  left: 50px;
  width: 40px;
  height: 60px;
   animation: run 0.3s infinite;
}

@keyframes run {
  0% { transform: translateY(0); }
  50% { transform: translateY(2px); }
  100% { transform: translateY(0); }
}

/* Hat */
.hat {
  width: 40px;
  height: 12px;
  background: red;
  border-radius: 4px 4px 0 0;
}

/* Face */
.face {
  width: 36px;
  height: 18px;
  background: #f1c27d;
  margin: 0 auto;
  border-radius: 3px;
}

/* Body */
.body {
  width: 32px;
  height: 20px;
  background: blue;
  margin: 0 auto;
  border-radius: 4px;
}

/* Legs */
.legs {
  width: 32px;
  height: 10px;
  background: brown;
  margin: 0 auto;
  border-radius: 0 0 4px 4px;
}



#obstacle {
  position: absolute;
  bottom: 0;
  right: -40px;
  width: 40px;
  height: 60px;
}

/* Tree top */
.leaves {
  width: 40px;
  height: 35px;
  background: green;
  border-radius: 50%;
}

/* Tree trunk */
.trunk {
  width: 14px;
  height: 25px;
  background: #8b4513;
  margin: 0 auto;
}



#score {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 16px;
}

#game-over {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.7);
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
}
